body {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 48px;
   font-size: 40px;

}


/*mobile*/
.description {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  line-height: 20px;

}

/*laptop*/
@media screen and (min-width:1200px) {
  .description {
    font-size: 65px;
    line-height: 65px;

  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .description {
    font-size: 55px;
    line-height: 65px;
  }
}

div {
  margin-bottom: 40px;
  line-height: 85px;
}

/*mobile*/
h1 {
  font-size: 40px;
  color: #0F21FA;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

/*laptop*/
 @media screen and (min-width:1200px) {
  h1 {
    font-size: 95px;
    margin-bottom: 80px;
    line-height: 135px;
    color: #0715BA;
    margin-top: 80px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    h1 {
    font-size: 95px;
    margin-bottom: 55px;
    margin-top: 55px;
    line-height: 95px;
  }
}

/*mobile / default*/
h2 {
    color: #E12626;
  margin-top: 10px;
  font-size:35px;
  margin-bottom: 10px;
  line-height: 35px;

}

/*laptop*/
 @media screen and (min-width:1200px) { 
  h2 {

    margin-top: 80px;
    font-size:90px;
    margin-bottom: 80px;
    line-height: 75px;
  }
}
h2 a {
  color : #1D2AC2;
font-size: 25px;
}
 @media screen and (min-width:1200px) { 
  h2 a {
    color: #1D2AC2;
    font-size: 85px;
    line-height: 90px;
    }}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    h2 {
    color: #E12626;
    margin-top: 80px;
    font-size:90px;
    margin-bottom: 80px;
    line-height: 95px;
  }
}


/*mobile*/

/*laptop*/
h3 a {
color : #1D2AC2;
font-size: 25px;
}
h3 {
  color: #E12626;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}
@media screen and (min-width: 1200px) { 
  h3 {
    margin-top: 50px;
    color: #E12626;
    font-size: 72px; 
    line-height: 85px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) { 
  h3 a{
     font-size: 75px; 
}}

nav{
  margin-bottom: 30px;
}

li {
  width: 200px;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 2px;
  border-radius: 10px;
  font-size: 50px;
}



 /*footer*/

/*mobile / laptop / ipad*/
footer nav div{
  font-weight: bold;
}

/*mobile*/
.ratings{
  font-size: 15px; 
  margin-bottom: -20px;
  line-height: 21px;
  margin-top: -25px;
}

/*laptop*/
@media screen and (min-width:1200px) { 
  .ratings{
    font-size: 65px; 
    margin-bottom: -20px;
    line-height: 38px;
    margin-bottom: 38px;
    text-align: center;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .ratings{
      font-size: 37px; 
      line-height: 55px;
      margin-bottom: 50px;
      text-align: center;
  }
}

/*mobile / default*/
.ratings .fa-pizza-slice {
  font-size: 15px;
  color:#E31824;
  line-height: 15px;
  margin-top: -30px;
}

/*laptop*/
@media screen and (min-width:1200px) { 
  .ratings .fa-pizza-slice  {
    font-size: 65px;
    line-height: 85px;
    margin-top: 30px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .ratings .fa-pizza-slice  {
      font-size: 37px;
  }
}

/*mobile / default*/
footer a .fa-spotify {
  font-size:55px;
  color: #1DB954;
}

/*laptop*/
@media screen and (min-width:1200px) { 
  footer a .fa-spotify {
    font-size: 135px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
  footer a .fa-spotify {
    font-size: 145px;
  }
}

/*mobile / default*/
footer a .fa-instagram  {
  font-size: 55px;
  color: #E4405F;
}

/*laptop*/
@media screen and (min-width:1200px) { 
  footer a .fa-instagram   {
    font-size: 135px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    footer a .fa-instagram  {
      font-size: 145px;
    }
}

/*mobile / default*/
footer a .fa-twitter-square  {
  font-size: 55px;
  color: #55ACEE;
}

/*laptop*/
@media screen and (min-width:1200px) { 
  footer a .fa-twitter-square  {
    font-size: 135px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    footer a .fa-twitter-square  {
      font-size: 145px;    
  }
}


/*mobile / default*/
.homepage-p{
  line-height: 60px;
  margin-bottom: 70px;
  font-size:  50px;
 margin-right: -10px;
 margin-top:   0px;
 margin-left: 40px;
    margin-right: 40px;


}

 /*header*/
.topnav {
  overflow: hidden;
  background-color: #818392;
}

.topnav a {
  float: left;
  display: block;
  color: #F5F6F9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-size: 50px;
}
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .topnav a {
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000;
    }}

.topnav a:hover {
  background-color: #7F88F3;
  color: black;
  font-size: 50px;

}

.topnav .icon {
  display: none;
}

@media screen and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){ 
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){
  .topnav.responsive {position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*laptop*/
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3%;
}
 .sticky a{
font-size: 50px;
padding-right: 50px;
}

/*skip to content*/

@media screen and (min-width:1200px) {
  .skip-main {
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 1px;
    height: 1px; 
    text-align: left;
    overflow: hidden;
  }
}

/*laptop*/
@media screen and (min-width:1200px) {     
  a.skip-main:focus {
     outline: none;
    left: 0; 
    top: 0;
    width: 300px;
    height: 100px; 
    overflow: hidden;
    color: #FFFFFF;
    background-color: #F60909;
    font-size: 58px;
    margin-top: 180px;

  }
}
[tabindex] {
   outline: none !important;
}
  @media screen and (max-width:768px) {.skip-main {
    display: none;
  }
  }
  .current {
  background-color: #7F88F3;
  color: white;
}
/*flex layout east coast*/

/*mobile / default*/
.columns {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-bottom: 50px;
}

/*laptop*/
@media screen and (min-width:1200px) {
  .columns{
    display: flex;
    flex-flow: row wrap;
    margin: 1px 0;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .columns {
      margin-bottom: 150px;
    }
}

/*mobile /ipad*/
.column-al {
  flex: 0.33;
  flex-flow: row wrap;
}





/*mobile / default*/
.column-al p{
   margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
  line-height: 25px;
  margin-top: -5px;
    text-align: center;
}

/*laptop*/
@media screen and (min-width:1200px) {
  .column-al p{
    margin-left: 75px;
    margin-right: 75px;
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 55px;
  
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .column-al p{
      margin-left: 85px;
      margin-right: 85px;
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 55px;
      text-align:center;
    }
}

/*mobile*/
.column-al img{
 width: 195px;
 height: 195px;
 margin-top: 5px;
 margin-bottom: 8px;
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .column-al img{
       width: 450px;
      height: 450px;
      margin-top: 45px;
    }
}

@media screen and (min-width:1200px) {
  .column-al img{
    width: 900px;
    height: 900px;
    margin-top: 45px;
  }
}


/*mobile / ipad*/

.column-h {
  flex: 0.5;
   flex-flow: row wrap;
}



/*mobile*/
.column-h p{
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
  line-height: 25px;
  margin-top: -5px;
   text-align: center;
}

/*laptop*/
@media screen and (min-width:1200px) {
  .column-h p{
    margin-left: 85px;
    margin-right: 85px;
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 55px;

  }
}
  .column-h h2{    color: #E12626;
  margin-top: 10px;
     font-size: 25px;
  margin-bottom: 10px;
  line-height: 35px;
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .column-h p{
      margin-left: 85px;
      margin-right: 85px;
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 55px;
      text-align:center;
    }
}

/*mobile / default*/
.column-h img{
 width: 195px;
 height: 195px;
  margin-bottom: 8px;
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait){
    .column-h img{
      width: 450px;
      height: 450px;
    }
}


@media screen and (min-width:1200px) {
    .column-h img{
      width: 900px;
    height: 900px;
    }
}


/*laptop*/
@media screen and (min-width:1200px){
  .row-c {
    display: flex;
  }
}

/*laptop*/
@media screen and (min-width:1200px){
  .item-c {
    flex: 1 1 1%;
  }
}

/*laptop*/
@media screen and (min-width:1200px){
  .item-c p{
    margin-right: 15px;
    margin-left: 15px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)and (orientation: portrait) {
    .item-c p{
      margin-right: 15px;
      margin-left: 15px;
      font-size: 32px;
      margin-bottom: 12px;
  }
}

/*mobile*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){
    .item-c p{
      margin-right: 13px;
      margin-left: 13px;
      font-size: 13px;
      margin-bottom: 12px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)and (orientation: portrait) {
    .item-c-heading{
      margin-top: 3px;
      margin-bottom:10px;
  }
}
/*laptop*/
@media screen and (min-width:1200px){
  .item-c img{
    width: 380px;
    height:580px;
  }
}

/*ipad*/
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait) {
    .item-c img{
      width: 380px;
      height:580px;
      margin-bottom: -12px;
  }
}

/*mobile*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){
    .item-c img{
      width: 380px;
      height:580px;
      margin-bottom: -12px;
  }
}

/*laptop*/
@media screen and (min-width:1200px){
  .item-c {
    display: flex;
    flex-direction: column;
  }
}
/*/*
/* Homepage gallery
   ===================*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.column {
    flex: 100%;
    max-width: 100%;
    justify-content: center;
  }

.column img {
    width: 195px;
    height: 195px;
  }

@media screen and (min-width:1200px){
  .column img {
    width: 35%;
    height: 35%;
    }}
.divider {
  width: 100%;
}


@media screen and (min-width:1200px){
    .divider{
      display: none;
    }
  }
* {
  box-sizing: border-box;
  margin: 0;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.column {
  justify-content: center;
  width: 100%;
  float: left;
}
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait) {
  .column img{
    width: 350px;
    height: 350px;

  }
}
@media screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) and (orientation: portrait) {
  .column {
    flex: 49%;
    max-width: 49%;
    padding-right: 5px;

  }
}


 @media only screen 
  and (max-device-width: 1024px) {
    .modal-content{
  display: none;
  }}
   @media only screen 
  and (max-device-width: 1024px) {
    .close {
      display: none;
      }}

  @media only screen  and (min-device-width: 1200px)  {/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
}
}
/* Modal Content */
@media screen 
  and (min-device-width: 1200px)  {.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 2500px;
}
}

/* The Close Button */
@media screen 
  and (min-device-width: 1200px)  {.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 325px;
  font-weight: bold;
}
}
@media screen 
  and (min-device-width: 1200px)  {.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
}
/* Hide the slides by default */
@media screen 
  and (min-device-width: 1200px) {.mySlides {
  display: none;
}
}

/* Next & previous buttons */
@media screen 
  and (min-device-width: 1200px)  {.prev,
.next {
  /*cursor: pointer;*/
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 300px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}}

/* Position the "next button" to the right */
@media screen 
  and (min-device-width: 1200px)  {.next {
  right: -400px;
  border-radius: 3px 0 0 3px;
}}
@media screen 
  and (min-device-width: 1200px)  {.prev {
  left: -400px;
  border-radius: 3px 0 0 3px;
}}

/* On hover, add a black background color with a little bit see-through */
@media screen 
  and (min-device-width: 1200px)  {.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}}
/* Number text (1/3 etc) */
@media screen 
  and (min-device-width: 1200px)  {.numbertext {
  color: #000000;
  font-size: 82px;
  padding: 12px 12px;
  top: 0;
}}
@media screen 
  and (min-device-width: 1200px)  {.mySlides img {
  width: 2000px;
  height: 2000px;
}}

/** Caption text */
@media screen 
  and (min-device-width: 1200px)  {.caption-container {
  text-align: center;
  background-color: black;
  padding: 100px 16px;
  color: white;
  font-size: 80px;
}}

@media screen 
  and (min-device-width: 1200px)  {img.demo {
  display: none;
}}


@media screen 
  and (min-device-width: 1200px)  {img.hover-shadow {
  transition: 0.3s;
}}

@media screen 
  and (min-device-width: 1200px)  {.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}}

@media screen 
  and (min-device-width: 1200px)  {.container {
  max-width: 1170px;
  margin: 0 auto;
}}
.broadcast {
  display: none;
}
@media screen and (min-width:1200px){.broadcast {
  color: #FFFFFF;
  display: flex;
  text-align: center;
  margin-top: 80px;
    background: #EC2916;
  position: relative;
  font-weight: bold;
  font-size: 45px;
}
}

@media screen and (min-width:1200px){.broadcast a {
  color: #FFFFFF;
  /*text-decoration: none;*/
}
}
@media screen and (min-width:1200px){.broadcast .hide-broadcast {
  position: absolute;
  right: 20px;
}}
@media screen and (min-width:1200px){.broadcast .hide-broadcast svg {
  fill: #FFFFFF;
  width: 100px;
  height: 100px;
  position: relative;
}
}
@media screen and (min-width:1200px){.broadcast .hide-broadcast .hide-broadcast-target {
  width: 240px;
  height: 240px;
  display: inline-block;
  border-radius: 50%;
  transition: all ease 0.3s;

}}

@media screen and (min-width:1200px){video {
    width: 35%;
    margin-bottom: 80px;
  }}

 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){ .accordion {
    display: none;
  }
}
 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait){ .accordion-h {
    display: none;
  }
}
 .accordion { /*background-color: #eee;*/
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 55px;
  text-align: center;

}
  .accordion-h {
  /*background-color: #eee;*/
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 55px;
  text-align: center;
  margin-bottom: 150px;

}

.active, .accordion:hover {
  background-color: #7F88F3; 
  color: #F5F6F9  ;
}



@media screen and (min-width:1200px){.flip-card {
      width: 1500px;
 height: 1500px;
   display: grid;
  float: left;
    transition: transform 1s;
    transform-style: preserve-3d;
}}
@media screen and (min-width:1200px){.flip-card  div {
    display: block;
    width: 1500px;
 height: 1500px;
    line-height: 60px;
    color: #DCEAE5;
    text-align: center;
    font-size: 80px;
    position: absolute;
    backface-visibility: hidden;
}}
@media screen and (min-width:1200px){.flip-card-front img{
 width: 1500px;
 height: 1500px;
}}
@media screen and (min-width:1200px){.flip-card-back {
    background: #3B9275  ;
    transform: rotateY( 180deg );
    width: 1500px;
 height: 1500px;
}}
@media screen and (min-width:1200px){.flip-card-back h2 {
  color: #EA9B13  ;
    font-size:  150px;

}}
 @media screen and (min-width:1200px){.flip-card-back p{
color:#DCEAE5 ;
  font-size:  90px;
  line-height: 120px;
}}
@media screen and (min-width:1200px){.flip-card.flipped {
    transform: rotateY( 180deg );
}
}

@media screen and (min-width:1200px){.flip-card-h {
      width: 1500px;
 height: 1500px;
   display: grid;
  float: left;
    
    transition: transform 1s;
    transform-style: preserve-3d;
}}

@media screen and (min-width:1200px){.flip-card-h  div {
    display: block;
    width: 1500px;
 height: 1500px;
    position: absolute;
    backface-visibility: hidden;
}}

@media screen and (min-width:1200px){.flip-card-h-front img{
 width: 1500px;
 height: 1500px;
}}

@media screen and (min-width:1200px){.flip-card-h-back {
    background: #3B9275;
    transform: rotateY( 180deg );
    width: 1500px;
 height: 1500px;
}}
 @media screen and (min-width:1200px){.flip-card-h-back h2{
color:#EA9B13;
  font-size:  150px;
}}
 @media screen and (min-width:1200px){.flip-card-h-back p{
color:#DCEAE5 ;
  font-size:  90px;
  line-height: 120px;
}}

@media screen and (min-width:1200px){.flip-card-h.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}}

@media screen and (min-width:1200px){.flip-card-a {
      width: 1500px;
 height: 1500px;
   display: grid;
  float: left;
    transition: transform 1s;
    transform-style: preserve-3d;
}}

@media screen and (min-width:1200px){.flip-card-a  div {
    display: block;
    width: 1500px;
 height: 1500px;
    color: #DCEAE5 ;
    position: absolute;
    backface-visibility: hidden;
}}

@media screen and (min-width:1200px){.flip-card-a-front img{
 width: 1500px;
 height: 1500px;
}}

@media screen and (min-width:1200px){.flip-card-a-back {
    background:  #3B9275;
    transform: rotateY( 180deg );
    width: 1500px;
 height: 1500px;
}}

@media screen and (min-width:1200px){.flip-card-a-back h2{
  color: #EA9B13;;
  font-size:  150px;
}}

 @media screen and (min-width:1200px){.flip-card-a-back p{
color:#DCEAE5 ;
  font-size:  90px;
  line-height: 120px;
}}
@media screen and (min-width:1200px){.flip-card-a.flipped {
    transform: rotateY( 180deg );
}}

@media screen and (min-width:1200px){button{
font-size: 70px;
margin-left: -300px;
margin-right: 300px;
}}

@media screen and (min-width:1200px){.mobile_images{
  display: none;
}}

 @media only screen 
  and (max-device-width: 768px) 
  and (orientation: portrait){.laptop_images{
    display: none;
    }}

